<div
  *ngIf="room"
  class="flex items-center p-2 border-b border-b-gray-200 cursor-pointer hover:bg-gray-100"
  [routerLink]="[room.id, 'messages']"
>
  <div class="flex items-center justify-center relative">
    <img
      loading="lazy"
      class="w-12 h-12 rounded-full"
      *ngIf="room.avatar && room.avatar.url;else defaultAvatar"
      [src]="room.avatar.url"
      alt="room avatar"
      [ngClass]="avatarClass"
      (load)="setLoaded()"
    />
    <ng-template #defaultAvatar>
      <img
        class="w-12 h-12 rounded-full"
        [src]="defaultAvatarUrl"
        alt="room avatar"
      />
    </ng-template>
    <div
      *ngIf="showAvatarPreloader"
      class="absolute top-0 left-0 w-12 h-12 rounded-full animate-pulse bg-gray-500"
    ></div>
  </div>
  <div class="ml-3 w-full">
    <div class="text-gray-700 font-bold leading-6">
      {{ room.name }}
    </div>
    <div *ngIf="room.lastMessage" class="text-sm text-gray-500 leading-5 flex items-center justify-between w-full">
      <div>
      {{ room.lastMessage.message }}
      </div>
      <div>
        {{room.lastMessage.createdAt | date:'h:mm'}}
      </div>
    </div>
  </div>
</div>
