<div
  *ngIf="chat"
  class="flex items-center py-2 border-b border-b-gray-200 cursor-pointer hover:bg-gray-100"
  [routerLink]="[chat.id]"
>
  <div class="flex items-center justify-center relative">
    <img
      class="w-12 h-12 rounded-full"
      *ngIf="chat.avatar"
      [src]="chat.avatar.url"
      alt="chat avatar"
      [ngClass]="avatarClass"
      (load)="setLoaded()"
    />
    <div *ngIf="showAvatarPreloader" class="absolute top-0 left-0 w-12 h-12 rounded-full animate-pulse bg-gray-500"></div>
  </div>
  <div class="ml-3">
    <div class="text-gray-700 font-bold leading-6">
      {{ chat.name }}
    </div>
    <div class="text-sm text-gray-500 leading-5">
      {{ chat.lastMessage.message }}
    </div>
  </div>
</div>
