<Modal [show]="showDialog" (closeDialog)="hideAddUserModal()">
  <div >
    <div class="relative">
      <div>
        <input type="text" (input)="searchUser($event)"  class="p-2 border-gray-300 border"  />
      </div>
      <div class="bg-white mt-2">
        <ul >
          <ng-container *ngIf="searchUsers.length;">
            <li
              *ngFor="let user of searchUsers;"
              class="whitespace-nowrap p-2 hover:bg-gray-100 cursor-pointer border-b border-b-gray-200"
              (click)="addUserToRoom(user.id)"
            >
              <span>
                {{user.firstName}}
              </span>
              <span>
                {{user.lastName}}
              </span>
              <span>
                - {{user.email}}
              </span>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</Modal>
