<div class="w-screen flex items-center justify-center h-screen">
  <div class="max-w-sm p-5 shadow-md">
    <div>
      <div>Login</div>
      <input [(ngModel)]="form.email" class="p-2 w-full" type="text" />
    </div>
    <div class="mt-2">
      <div>Password</div>
      <input [(ngModel)]="form.password" class="p-2 w-full" type="password" />
    </div>
    <div class="w-full py-1 text-right">
      <span class="cursor-pointer" [routerLink]="registerUrl">Register</span>
    </div>
    <div class="mt-2">
      <button
        class="p-2 cursor-pointer bg-indigo-500 text-white w-full"
        (click)="login()"
      >
        Login
      </button>
    </div>
  </div>
</div>
